body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
}
  .logo {
    padding: 40px 0;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item {
    padding: 0 13px;
  }
  .menu__item:last-child {
    padding-right: 0;
  }
.logo,.main-content__title {
  color:black;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
}
.menu__item,.main-content__text {
  color:black;
  font-family: Roboto;
  font-style: normal;
}
.main-content__button {
  color:white;
  background: #0056EC
  font-family: Roboto;
  font-style: normal;
  background: #0056EC
}
